html{scroll-behavior:smooth}

body {
    background-color: #f7f7f8;

}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.intro-palm {
    background-image: url("../../templates/images/izayah-ramos-778080-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    min-height: auto;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 170px 15px;
}

header .header-palm-inner h1{
    color: #fdc975;
    margin: 0;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #fff, 1px 1px 10px #fff, -1px -1px 10px #fff,-1px -1px 10px #fff,-1px -1px 10px #fff,1px 1px 10px #fff;
}

header .header-palm-inner p{
    color: #f7f7f8;
    margin: 0;
}

.navshadow {
    -webkit-box-shadow: 0 1px 10px rgba(1,1,1,.7);
    box-shadow: 0 1px 10px rgba(1,1,1,.7);
}

.blockquote {
    font-size: 90%;
}

.row {
    text-align: center;
    margin-top: 1vh;
}

/* .card-deck{
    height: 25vh;
    margin-top:1%;
    margin-bottom:1%;
} */

.card {
    display: flex;
    min-height: auto;
    text-align: left;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 1%;
}


.card-image {
    height: 18vh;
    width: 100%;
    object-fit: cover;
}

#dash {
    margin-top: 150px;
    background-color: #f7f7f8;
    height:100vh;
    position: absolute;
    display: flex;
    min-height: auto;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.anchor a {
    position: absolute;
    left: 0px;
    top: -10px;
  }

.anchor {
    position: relative;
}

#html, #body, #dash, #card, #top-card {
    height: 25vh;
}

#html, #body, #dash, #map-container {
    position: relative;
    height: 55vh;
    width: 50vw;
}

#map-id {
    position: relative;
    height: inherit;
}

.intro-data {
    background-image: url("../../templates/images/franki-chamaki-682112-unsplash.jpg");
    background-size: cover;
    height: 60vh;
    display: flex;
    min-height: auto;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 170px 15px;
}